#window {
  margin-top: 50px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px black;
}

.swapbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  margin: 20px 0;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 20px;
  border: 1px solid #fff;
}

.swapbox > div {
  width: 50%;
}

.token-select:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

.token-list {
  height: 70vh;
  overflow: auto;
}

.token-row {
  padding: 5px 10px;
}

.token-row:hover {
  background: #e4e4e4;
}

.token-list-img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}